.topBar{
  position: sticky;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #74C0FC;
  margin-left: -10px;
  margin-top: -10px;
  padding-right: 18px;
}
.leftTopbar  a{
  font-size: 40px;
  margin-left: 10px;
  
}
.profile{
  color: black;
}

body{
  background:url(home_page_background.svg);
  background-size: cover;
  color: black;
}
.rightTopbar {
  position: relative;
  display: flex;
  text-align: center;
  padding-top: 5px;
  padding-right: 35px;
  justify-content: center;
  color: black;
}

.Topdropdown-content {
  display: none;
  position: absolute;
  background-color: #00498D;
  border-radius: 12%;
  top: 50px;
  width: 140px;
  padding: 10px;
  font-size: large;
}
.Topdropdown-content > a{
  padding: 7px;
  text-decoration: none;

}
.Topdropdown-content > a:hover{
  background-color: #6bc6dd;
  border-radius: 12%;
}
.Topdropdown-content a {
  display: block;
}

.rightTopbar:hover .Topdropdown-content {
  display: block;
  color: black;
}
.leftTopbar{
  display:inline;
  float: left;
  width: 100%;
  color: black;

}
.home_link{
  text-decoration: none;
  color: black;
}
.TopDropbtn{
  border-radius: 90%;
  border: none;
  font-size: 40px;
  color: #74C0FC;
}
/*---------------------------------------------------------------------------------------------------------*/
.sidebar a:hover {
  color: #6bc6dd;
}

.sidebar {
  margin-top: 50px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color:#3d79bd;
  overflow-x: hidden;
  white-space: nowrap;
}
.side_bar_menu{
  padding-top: 40px;
}
.side_bar_link{
  text-decoration: none;
}
.sidenav_icons{
  margin: 4px;
  margin-right: 8px;
  font-size: 300%;
}
.icon-text{
  font-size: 200%;
  vertical-align: 18%;
  text-decoration: none;
  display: none;
  padding: 10px;
}

/*------------------------------------------------------------------------------------------------------------*/
.classes{
  margin-top: 50px;
  margin-left: 70px;
  margin-right: 40px;
  width: auto;
  height: 150px;
}

.class{
  margin: 15px;
  border: #000000 solid;
  border-radius: 15px;
  background-color: aqua;
}

.class_link{
  text-decoration: none;
}
.proff{
  margin: 4px 10px;
}
.subject_code{
  margin-top: 6px;
  margin-left: 6px;
  font-size:35px;
}
.subject_detail{
  margin-top:4px;
  margin-left: 50px;
  font-size: 20px;
}
a:visited{
  color: #000000;
  text-decoration: none;

}